/* public/css/app.css */

#sidebar {
    height: 100vh;
    background-color: #686868;
}

.nav-link {
    color: #333;
    font-weight: 500;
}

.nav-link:hover {
    background-color: #e9ecef;
}

.nav-link.active {
    color: #007bff;
    background-color: #e9ecef;
}

.nav-item .fas {
    margin-right: 8px;
}
